.App {
    text-align: center;
}

.paralax {
    background-image: linear-gradient(#100c08e5, #100c08e5), url(components/Img/better-gas-logo-negative-backround.png);
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 768px) {
    .paralax {
        background-image: linear-gradient(#100c08f2, #100c08f2), url(components/Img/better-gas-logo-negative-backround.png);
    }
}
